<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="style.css">stylesheet" href="style.css">
</head>
<body>
    <div class="igor">
        <h1>Hai ini temanku {{ name }}</h1>
        <article>NPMnyaa {{ npm }}</article>
        <article>Usia dia {{ age }} tahun</article>
        <p>Dia cukup tinggi, dan gendut. Dia punya pemikiran yang jauh dari manusia biasa.</p>
        <p>hobinya adalah menjawab pertanyaan dengan jawaban yang ga ada </p>
        <p>hubungannya sama sekali dengan pertanyaannya.</p>
        <img src= " https://scontent.fcgk4-2.fna.fbcdn.net/v/t31.0-8/27173859_1735194366502522_1183169313762885575_o.jpg?_
        nc_cat=0&oh=ab93ecfd319ced56f39d4fe00cc65709&oe=5C349E4A" alt="ini foto igor" width ="500" height="500">
    </div>
    <div class="tembok">
        <h1>Haiii juga ini teman dibelakangku, namanya Dinding</h1>
        <p>Dia umurnya aku kurang tauu. Dia sangat dingin orangnya
            dia gasuka ngomong banget orangnya. Mungkin ga pernah ngomong malahan
        </p>
        <img src="http://architectaria.com/wp-content/uploads/2015/08/memperbaiki-tembok-retak-2.jpg" alt= "foto dinding">
    </div>

</body>
</html>
